body {
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    margin: 0;
}


/*______________NavMenuCSS______________*/

/*________NavBar shown after clicking menu icon____*/
#navBarContainer {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 20;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 70px;
    background: #b2b2b2;
}

#navframe {
    height: 100vh;
    position: fixed;
    display: none;
    width: 200px;
    left: 0;
    top: 70px;
    z-index: 20;
}

#navCancel {
    display: none;
}

/*______Navbar Shown in the top______*/
#searchbar {
    width: 100%;
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

#toggleBtn {
    background: #b2b2b2;
    box-shadow: none;
}

.fa-bars {
    color: #ffffff;
}


/*______________Other______________*/

/* ______Used in Nutrition Details Fragment______*/
#nutriFragmentotherFoods {
    height: 440px;
    width: 100%;
}


/* ______Used in Best Product Fragment______*/
#fragmentBestProducts {
    height: 440px;
    width: 100%;
}

#footer {
    width: 100%;
    height: 170px;
    border: none;
}


audio {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px 30px 30px 30px;
}