#shlokaContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#idHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#idHolder a {
    text-decoration: none;
    color: rgb(98, 98, 98);
    border: 1px solid rgb(205, 223, 255);
    background: rgb(218, 231, 255);
    border-radius: 5px;
    padding: 7px;
    margin: 3px;
}

#shlokaTitle {
    border-bottom: 2px solid rgb(174, 174, 174);
    color: rgb(118, 118, 118);
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.singleShloka {
    width: 90%;
    background: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px 5px;
}

.singleShloka p,
.singleShloka h3 {
    text-align: center;
    padding: 5px;
}

.singleShloka h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(70, 130, 180);
    padding: 5px 7px;
    border-radius: 2px;
    width: 100%;

}

.sanskrit {
    color: rgb(0, 45, 130);
    font-weight: bold;
    font-size: larger;
}

.saneng {
    color: rgb(173, 173, 173);
}

.translated {
    color: rgb(116, 116, 116);
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    animation: 4s anim-flipX ease 2;
}

@keyframes anim-flipX {
    0% {
        opacity: 0;
        transform: rotateX(90def);
    }

    50% {
        opacity: 1;
        transform: rotateX(720deg);
    }

    100% {
        /* animate nothing to pause animation at the end */
        opacity: 1;
        transform: rotateX(720deg);
    }
}