.indexfrontHead {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.indexfrontHeadleft #indexFrontPara {
    margin-top: -45px;
}

#front-index-img {
    width: 150px;
    height: 150px;
}

.indexfrontHeadRight img {
    width: 150px;
    height: 150px;
}

.indexfrontText {
    font-size: 10vh;
    font-weight: 700;
    color: #828282;
    text-align: center;
}

.indexfrontText span {
    font-size: 11vh;
    color: rgb(0, 50, 167);
}

#ininFront {
    color: rgb(92, 140, 251);
}

#index-front-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.indexcard {
    background: #fff;
    width: 350px;
    height: fit-content;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.card-img-top {
    width: 140px;
    height: 130px;
    margin: auto;
    padding: 10px;
    border-radius: 30%;
}

.indexcard .card-body {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 10px 20px;
}

.indexcard .card-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.indexcard .card-text {
    margin-top: -25px;
}

@media only screen and (max-width: 600px) {
    #front-index-img {
        display: none;
    }

    #indexLinkContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .indexFrontBtn {
        margin: 2px;
    }
}