.containerItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    width: 350px;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imgdev {
    width: 160px;
    height: 180px;
}

.imgdev img {
    width: 160px;
    height: 180px;
    border-radius: 10px 0 0 10px;
}

.catcontent {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 3px;
    justify-content: space-between;
    margin: 2px;
}

.search-item {
    width: 300px;
}

.fa-feather-pointed {
    color: #39CCCC;
}


/*_______________________________________________*/

.catbottom {
    display: flex;
    justify-content: space-between;
    margin: 3px;
}

.beautydays {
    margin: 0 3px -1px 0;
}