.detailsContainer {
    display: flex;
    justify-content: space-around;
    margin: 7px;
    flex-wrap: wrap;
}

.indetailsContainer {
    display: flex;
    flex-direction: column;
}

.inindetailsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}

.inindetailsContainer img {
    width: 320px;
    height: 320px;
    border-radius: 15px;
    border: 1px solid gray;
}

.ininindetailscontainer {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.ininindetailscontainer p {
    margin: 4px 0 11px 0;
}

.ininindetailscontainer audio {
    margin: 5px 0 0 0;
}

#indetailsbtncontainer {
    margin-top: 12px;
}

.allImgs {
    max-width: 700px;
    padding: 5px;
    margin: 18px 5px 5px 5px;
}

.dtlimgs {
    width: 70px;
    height: 70px;
}

.dtlimgs:hover {
    width: 170px;
    height: 170px;
}

/*_______________Table____________________*/
.table-striped {
    width: 100%;
}

.table-striped h2 {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

.table-striped td {
    padding: 13px;
}

.table-striped tr:nth-child(odd) {
    background-color: #f0f0f0;
    padding: 5px;
}

.fdesc {
    max-width: 700px;
}

.videoCont {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.devInsideVideoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devInsideVideoCont iframe {
    margin: 7px;
    width: 350px;
    height: 210px;
    border-radius: 10px;
}

.fa-sitemap {
    color: red;
}

.fa-feather-pointed {
    color: #39CCCC;
}

.fa-hand-holding-hand {
    color: #2ECC40;
}

.fa-clock {
    color: #0074D9;
}

.fa-note-sticky {
    color: #3D9970;
}

.otherProdHeading {
    background: #0099ff;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    z-index: 10;
    color: aqua;
    font-weight: bold;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.relatedVidHeading {
    background: #0099ff;
    text-align: center;
    padding: 10px 0px;
    z-index: 10;
    color: aqua;
    font-weight: bold;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.fdescHeading {
    background: #ffd700;
    text-align: center;
    padding: 10px 0px;
    z-index: 10;
    margin-top: 10px;
    color: aqua;
    font-weight: bold;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bestSentence {
    background: #ff8b25;
    color: rgb(236, 236, 236);
    padding: 15px 7px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .videoCont {
        margin-top: 20px;
    }

    .relatedVidHeading {
        width: 100%;
    }
}