<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="icon" href="images/static/logo.png" />
    <link rel="stylesheet" href="css/allcommon.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Home, Elatefit, Yoga, Ayurveda, Diet Plans</title>
</head> 

<body>
    <div id="navBarContainer">
        <button type="button" class="btn btn-warning" id="toggleBtn">
        <i class="fa-sharp fa-solid fa-bars"></i>
      </button>
        <iframe id="searchbar" src="fragsearchbar.html" loading="lazy"></iframe>
    </div>
    <iframe id="navframe" src="fragnav.html" loading="lazy"></iframe>

    <!--   ________________Front Above Content______________________  -->
    <div class="indexfrontHead d-flex justify-content-center flex-wrap m-3">
        <div class="indexfrontHeadleft">
            <h1 class="indexfrontText">Welcome to <span>ElateFit</span></h1>
            <p style="width: 340px">
                Here you will get the knowledge about the best products in the market, yoga, fitness, health calculators, diet plans, blogs and all other useful information.
            </p>
            <div id="index-link-container">
                
          <a href="products/pcategories.html" class="btn btn-outline-dark m-1 py-2"><i class="fa-solid fa-cart-shopping"></i> Best Products</a>
          
          <a href="blogs/blogCategories.html"
            class="btn btn-outline-dark m-1 py-2"
            ><i class="fa-solid fa-blog"></i> Blog</a>

          <a href="calculators/calcCategories.html"
            class="btn btn-outline-dark m-1 py-2">
            <i class="fa-solid fa-calculator"></i> Health Calculator</a>

            <!--
          <a th:href="@{/fblogs/go/OurServices}"
            class="btn btn-outline-dark m-1 py-2">
            <i class="fa-solid fa-handshake-angle"></i> Our Services</a>
            -->
          
          <a href="nutrition/nutcategories.html"
            class="btn btn-outline-dark m-1 py-2">
            <i class="fa-solid fa-bowl-food"></i> Nutrition</a>

            <a href="respect/respectCategories.html"
            class="btn btn-outline-dark m-1 py-2">
            <i class="fa-solid fa-person-praying"></i> Respect</a>
        </div>
      </div>
      <div class="indexfrontHeadRight m-4">
        <img
          src="images/static/yoga.png"
          id="front-index-img"
          class="card-img-top"
          alt="yoga"
          style="width: 150px; height: 150px"
        />
      </div>
    </div>

    <!--  ____________________Card Container________________ -->

    <div
      class="indexContainer d-flex justify-content-evenly flex-wrap"
      id="index-front-card-container">

      <div class="card indexcard m-3">
        <img src="images/static/bestProducts.png" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Best Products</h5>
            <p class="card-text">
                Here you will get some of the best products available in the Indian market that worth your hard-earned money.
            </p>
            <a href="products/pcategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
      ></a>
        </div>
      </div>

      <div class="card indexcard m-3">
        <img src="images/static/yoga.png" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Yoga</h5>
          <p class="card-text">
            Here you learn what actually yoga is and how to keep yourself
            healthy according to Hathayoga Pradipika.
          </p>
          <a
            href="yoga/yogaCategories.html"
            class="btn btn-warning"
            style="border-radius: 20px"
            >Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
        <img src="images/static/healthCalculator.jpg" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Health Calculator</h5>
            <p class="card-text">
                Here you get some of the best health calculators that can give you an analogy to improve your health.
            </p>
            <a href="calculators/calcCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
      ></a>
        </div>
      </div>

      <div class="card indexcard m-3">
            <img src="images/static/dietWL.png" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Diet Plans (Weight Loss)</h5>
                <p class="card-text">
                    Here you will get the best diet plans that can help you to lose your weight and to gain strength.
                </p>
                <a href="dietPlans/wlDietPlansCat.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
            <img src="images/static/gym.png" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Diet Plans (Muscle Gain)</h5>
                <p class="card-text">
                  Here you will get the best diet plans that can help you to gain your weight and to gain strength.
                </p>
                <a href="dietPlans/wgDietPlansCat.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
        <img src="images/static/nutrition.png" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Nutrition</h5>
            <p class="card-text">
                Nutritional values of daily used foods in Ayurvada perspective, with clear indication of weight loss and weight gain foods.
            </p>
            <a href="nutrition/nutcategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
      ></a>
        </div>
      </div>

      <div class="card indexcard m-3">
            <img src="images/static/ayurveda.png" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Ayurved</h5>
                <p class="card-text">
                    Here you get the knowledge on how to take care of your health and the way of living as mentioned in Sushruta Samhita.
                </p>
                <a href="ayurveda/ayurvedaCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
            <img src="images/static/house.jpg" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Vastu & Interior Design</h5>
                <p class="card-text">
                    Here you get the knowledge on how to manage your living space so that you can live comfortably.
                </p>
                <a href="vastu/vastuCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <!--
      <div class="card indexcard m-3">
            <img src="images/static/ourService.png" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Our Services</h5>
                <p class="card-text">
                    Here are some of the services provided by us for the individual and the organizational growth.
                </p>
                <a href="ourServices/serviceCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>
      -->

      <div class="card indexcard m-3">
            <img src="images/static/codingg.png" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Coding & Career Guidance</h5>
                <p class="card-text">
                    Here you learn about the coding techniques, career guidance, and roadmap for the Web Development and AI.
                </p>
                <a href="coding/codingCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
            <img src="images/static/service.jpg" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Best Services</h5>
                <p class="card-text">
                    Here you get some of the best services available for the organizations for the rapid growth.
                </p>
                <a href="bestServices/bestServiceCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
            <img src="images/static/learn.jpg" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Best Learning Platforms</h5>
                <p class="card-text">
                    Here you will get some of the best learning platforms available for your individual growth.
                </p>
                <a href="learningPlatforms/learningPlatformCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
      </div>

      <div class="card indexcard m-3">
          <img src="images/static/YoutubeIcon.png" class="card-img-top" alt="..." />
          <div class="card-body d-flex flex-column">
              <h5 class="card-title">Best YouTubers</h5>
              <p class="card-text">
                  Here you will get some of the best learning channels available on Youtube. That you must Subscribe.
              </p>
              <a href="bestYoutubers/youTubeCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
        ></a>
          </div>
      </div>

      <div class="card indexcard m-3">
        <img src="movies/educationalMovies/images/movie.png" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Best Movies</h5>
            <p class="card-text">
                Here you will get some of the best Movies that can teach you the best along with entertainment.
            </p>
            <a href="movies/movieCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
      ></a>
        </div>
      </div>

      <div class="card indexcard m-3">
        <img src="games/pcGames/images/games.png" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Best Games</h5>
            <p class="card-text">
                Here you will get some of the best Games that can improve your thinking skills along with the entertainment.
            </p>
            <a href="games/gameCategories.html" class="btn btn-warning" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
      ></a>
        </div>
      </div>


      <!--
      <div class="card indexcard m-3">
            <img src="images/static/kamasutra1.jpg" class="card-img-top" alt="..." />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Kamasutra</h5>
                <p class="card-text">
                    Here you learn about the Kamasutra practices like Vajroli and Sahajoli to enjoy sex life, and ultimately control Lust.
                </p>
                <a th:href="@{/fblogs/go/kamasutra}" class="btn btn-warning" id="kamasutra" style="border-radius: 20px">Explore <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
            </div>
            <div class="bg-info p-3 m-1 mb-5 rounded" id="confirmModal" style="position: relative; margin: auto; display: none">
                <div class="moddialog">
                    <div class="modcontent">
                        <div class="modheader">
                            <h5 class="modtitle">Warning! Age Restriction</h5>
                        </div>
                        <div class="modbody">
                            <p>Is your Age is greater than 21?</p>
                        </div>
                        <div class="modfooter">
                            <button type="button" id="cancelModal" class="btn btn-secondary">
                  No
                </button>
                            <a th:href="@{/fblogs/go/kamasutra}" class="btn btn-warning">Yes</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      -->

    </div>

    <iframe
      src="fragfooter.html"
      id="footer"
      loading="lazy"
    ></iframe>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="js/allcommon.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#kamasutra").on("click", function (e) {
          e.preventDefault();
          $("#confirmModal").show();
        });
        $("#cancelModal").on("click", function (e) {
          $("#confirmModal").hide();
        });
      });
    </script>
  </body>
</html>