<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/allcommon.css" />
    <link rel="stylesheet" href="../css/pcategories.css" />
    <title>Nutrition</title>
</head>

<body>
    <div class="containerItems d-flex justify-content-evenly" >

        <div class="item">
            <div class="imgdev">
                <img src="../nutrition/vegetables/images/vegetable.png" />
            </div>
            <div class="catcontent">
                <b> Vegetables </b>
                <p>Best hair oils available in the indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="nutriAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="nutriDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../nutrition/vegetables/vegCategories.html" target="_top">
                    Nutrition Details <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../nutrition/fruits/images/fruits.png" />
            </div>
            <div class="catcontent">
                <b> Fruits </b>
                <p>Best hair oils available in the indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="nutriAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="nutriDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../nutrition/fruits/fruitCategories.html" target="_top">
                    Nutrition Details <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../nutrition/millets/images/milletplant.png" />
            </div>
            <div class="catcontent">
                <b> Millets </b>
                <p>Best hair oils available in the indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="nutriAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="nutriDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../nutrition/millets/milletCategories.html" target="_top">
                    Nutrition Details <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../nutrition/grains/images/grains.png" />
            </div>
            <div class="catcontent">
                <b> Grains </b>
                <p>Best hair oils available in the indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="nutriAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="nutriDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../nutrition/grains/grainCategories.html" target="_top">
                    Nutrition Details <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../nutrition/pulses/images/pulse.png" />
            </div>
            <div class="catcontent">
                <b> Pulses </b>
                <p>Best hair oils available in the indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="nutriAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="nutriDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../nutrition/pulses/pulseCategories.html" target="_top">
                    Nutrition Details <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../nutrition/spices/images/spices.png" />
            </div>
            <div class="catcontent">
                <b> Spices </b>
                <p>Best hair oils available in the indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="nutriAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="nutriDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../nutrition/spices/spiceCategories.html" target="_top">
                    Nutrition Details <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <script src="../js/allcommon.js"></script>
</body>

</html>