<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/allcommon.css" />
    <link rel="stylesheet" href="../css/pcategories.css" />
    <link rel="stylesheet" href="../css/myBootstrap.css" />
    <title>Best Products, Elatefit, Best Mobiles, Best Computer, Best laptop</title>
</head>

<body>
    <div class="containerItems" style="width: 100%; display: flex; flex-wrap: wrap; margin-top: -10px;">
        <div class="item">
            <div class="imgdev">
                <img src="../products/pimages/mobile.png" />
            </div>
            <div class="catcontent">
                <b> Best Moblies </b>
                <p>Best mobiles in the Indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="beautyAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="beautyDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../products/mobile/mobileCategories.html" target="_top">
            Explore Products <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../products/pimages/beauty.jpg" />
            </div>
            <div class="catcontent">
                <b> Best Beauty Products </b>
                <p>Best Beauty products available in the Indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="beautyAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="beautyDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../products/beauty/beautyCategories.html" target="_top">
            Explore Products <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../products/pimages/laptop.png" />
            </div>
            <div class="catcontent">
                <b> Best Laptops </b>
                <p>Best Laptops available in the Indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="beautyAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="beautyDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../products/laptop/laptopCategories.html" target="_top">
            Explore Products <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../products/pimages/gadget.jpg" />
            </div>
            <div class="catcontent">
                <b> Best Gadgets </b>
                <p>Best gadgets available in the Indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="beautyAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="beautyDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../products/gadget/gadgetCategories.html" target="_top">
            Explore Products <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>

        <div class="item">
            <div class="imgdev">
                <img src="../products/pimages/desktop.png" />
            </div>
            <div class="catcontent">
                <b> Best Desktop Accessories </b>
                <p>Best accessories available in the Indian market.</p>
                <div class="catbottom">
                    <div class="d-flex">
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span class="beautyAuthor"></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <span class="beautyDays"></span>
                    </div>
                </div>
                <a class="btn btn-primary" href="../products/desktop/desktopCategories.html" target="_top">
            Explore Products <i class="fa-solid fa-arrow-right"></i>
          </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <script src="../js/allcommon.js"></script>
</body>

</html>